*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image-generator{
    height: 40vh;
    background: url(../images/image.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image-generator::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    opacity: .5;
}

.image-generator .content{
    color: #fff;
    padding: 0 15px;
    text-align: center;
    max-width: 760px;

    /* z-index: 50; */
    position: relative;
}

.image-generator h1{
    font-size: 2.5rem;
    font-weight: 700;
}

.image-generator p{
    font-size: 1.25rem;
    margin-top: 10px;
}

.image-generator .generate-form{
    margin: 40px 0 15px;
    height: 56px;
    background: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
}

.image-generator .generate-form .prompt-input{
    width: 100%;
    height: 100%;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: none;
    padding: 0 17px;
    border-radius: 30px;
}

.image-generator .generate-form .controls{
    display: flex;
    height: 100%;
    gap: 15px;
}

.image-generator .generate-form .controls .img-quantity{
    outline: none;
    border: none;
    background: none;
    font-size: 1rem;
}

.image-generator .generate-form .controls .generate-btn{
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: rgb(14, 14, 159);
    color: #fff;
    font-weight: 500;
    border-radius: 30px;
    padding: 0 25px;
    cursor: pointer;
}

/* 2. section */

.image-gallery{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0 15px;
    max-width: 1260px;
    flex-wrap: wrap;
    margin: 50px auto;
}

.image-gallery .img-card{
    width: 290px;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;

    position: relative;
}

.image-gallery .img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-gallery .img-card.loading img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.image-gallery .img-card .download-btn{
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: rgba(255, 255, 255, .3);
    border-radius: 50%;
    height: 36px;
    width: 36px;
    display: none;
    justify-content: center;
    align-items: center;
}

.image-gallery .img-card:not(.loading):hover .download-btn{
    /* img-card'ın üzerine gelince sınıf ismi loading 
    olanlar dışındaki classların içerisinde bulunan 
    download-btn'ları display flex yapar */
    display: flex;
}

.image-gallery .img-card .download-btn img{
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 760px) {

    .image-generator h1{
        font-size: 1.8rem;
    }

    .image-generator p{
        font-size: 1rem;
    }

    .image-generator .generate-form{
        margin-top: 25px;
        height: 52px;
        display: block;
    }

    .generate-form .controls{
        height: 40px;
        margin-top: 15px;
        justify-content: flex-end;
        align-items: center;
    }

    .generate-form .img-quantity{
        color: #fff;
    }

    .generate-form .img-quantity option{
        color: #000;
    }

    .generate-form .generate-btn{
        height: 100%;
    }

    .image-gallery{
        margin-top: 20px;
    }

    .image-gallery .img-card:not(.loading) .download-btn{
        display: flex;
    }

    
}


@media screen and (max-width: 640px) {

    .image-gallery .img-card{
        width: 100%;
    }
    
}